@mixin bounce($start , $distance){
    @keyframes bounce {
        0%,100% {transform: translateY($start); }
        40% {transform: translateY($distance);}
        60% {trnsform: translateY (calc($distance/2));
        background-color:  random-hex(); }}}

        @function random-hex(){
            $rgb: '';
            $i: 6;
            @while $i > 0 {
              $hex-unit: random(15);
              $letters: A, B, C, D, E, F;
              @if $hex-unit > 9 { 
                $hex-unit: nth($letters, ($hex-unit - 9));
              };
              $rgb: str-insert($rgb, ("" + $hex-unit), 0);
              $i: $i - 1;
            }
            @return unquote("#"+"#{$rgb}");
        }
%bgrandom {
        width: 100vw;
        height: 100px;
}
        .bg-random {
            width: 100vw;
            height: 100px;
            background-color: random-hex() ;
        }

        .bounce { 
            animation-duration: 1s; 
            animation-name: bounce;
            animation-iteration-count: infinite;
            @include bounce (0px , -30px);
            width: 100px;
            height: 100px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend bg-random;
            margin: 50px auto 50px auto;
        
            
        }
        